/* Stylizacja głównego kontenera stopki */
.footer {
  background-color: #1a1a1a; /* Ciemny szary kolor tła */
  color: #fff; /* Biały tekst */
  text-align: center; /* Wyrównanie tekstu do środka */
  padding: 20px; /* Odstępy wewnętrzne */
  font-size: 14px; /* Wielkość czcionki */
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5); /* Cień stopki */
  position: fixed; /* Stopka jest zawsze na dole strony */
  width: 100%; /* Zajmuje całą szerokość ekranu */
  bottom: 0; /* Przypięta do dołu ekranu */
  font-family: "Poppins", sans-serif; /* Użycie nowoczesnej czcionki */
}

/* Stylizacja tekstu */
.footer-text {
  margin: 0; /* Usuwa marginesy wokół tekstu */
  letter-spacing: 1px; /* Odstęp między literami */
  font-weight: 400; /* Średnia waga czcionki */
  color: #d1d1d1; /* Jasnoszary kolor tekstu */
}

/* Stylizacja hover */
.footer-text:hover {
  color: #f39c12; /* Zmiana koloru tekstu na hover (pomarańczowy) */
  transition: color 0.3s ease-in-out; /* Płynna animacja zmiany koloru */
}
